.card {
    border: none;
    width: 10em;
}

.content-card {
    margin-right: 6em;
}

.card-columns {
    margin-left: 4em;
    margin-top: 3em;
}

.image-size {
    width: 4em;
}

.tipo-fuente-titulo {
    font-family: "Bahnschrift Condensed";
    font-weight: bold;
    font-size: 2em;
}

.tipo-letra-arc {
    font-family: "Bahnschrift Condensed";
    font-weight: bold;
    font-size: 1.2em;
}

.caja-busqueda {
    width: 83%;
    margin: 0 0 0 5.5em;
}

.alinear-derecha-busqueda {
    width: 40%;
    float: right;
}

.color-font {
    color: #196844;
}

@media screen and (max-width: 736px) {
    .caja-busqueda {
        width: 100%;
        margin: 0 0 0 0em;
    }
    .alinear-derecha-busqueda {
        width: 53%;
        float: right;
    }
    .tipo-fuente-titulo {
        font-family: "Bahnschrift Condensed";
        font-weight: bold;
        font-size: 2em;
    }
    .margen {
        margin-right: 0.4em;
    }
    .content-card {
        margin-right: 1em !important;
    }
    .margen-container-cards {
        margin-left: 0em;
    }
}