<!-- Modal -->
<div class="modal fade" id="modalPassword" tabindex="-1" role="dialog" aria-labelledby="modalPasswordLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header fondo-letra-poli">
                <h5 class="modal-title" id="modalPasswordLabel">Cambiar Contraseña</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body tamano-modal">
                <form id="formPassword" [formGroup]="formPassword" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Contraseña Actual" formControlName="actualPassword" autocomplete="off" [ngClass]="{'is-invalid':submitted && fo.actualPassword.errors}" />
                        <div *ngIf="submitted && fo.actualPassword.errors" class="invalid-feedback">
                            <div *ngIf="fo.actualPassword.errors.required">{{ util.MENSAJE_CAMPO_OBLIGATORIO }}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Nueva Contraseña" formControlName="newPassword" autocomplete="off" [ngClass]="{'is-invalid':submitted && fo.newPassword.errors}" maxlength="15" />
                        <div *ngIf="submitted && fo.newPassword.errors" class="invalid-feedback">
                            <div *ngIf="fo.newPassword.errors.required">{{ util.MENSAJE_CAMPO_OBLIGATORIO }}</div>
                            <div *ngIf="fo.newPassword.errors.minlength">Contraseña debe contener al menos 8 caracteres</div>
                            <div *ngIf="fo.newPassword.errors.maxlength">Contraseña debe contener máximo 15 caracteres</div>
                            <div *ngIf="fo.newPassword.errors.pattern">Caracteres especiales válidos: _ , - , *</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Confirmar Contraseña" formControlName="confirmPassword" autocomplete="off" [ngClass]="{'is-invalid':submitted && fo.confirmPassword.errors}" maxlength="15" />
                        <div *ngIf="submitted && fo.confirmPassword.errors" class="invalid-feedback">
                            <div *ngIf="fo.confirmPassword.errors.required">{{ util.MENSAJE_CAMPO_OBLIGATORIO }}</div>
                            <div *ngIf="fo.confirmPassword.errors.minlength">Contraseña debe contener al menos 8 caracteres</div>
                            <div *ngIf="fo.confirmPassword.errors.maxlength">Contraseña debe contener máximo 15 caracteres</div>
                            <div *ngIf="fo.confirmPassword.errors.mustMatch">Las contraseñas no coinciden</div>
                            <div *ngIf="fo.confirmPassword.errors.pattern">Caracteres especiales válidos: _ , - , *</div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="reset" class="btn btn-secondary" data-dismiss="modal" (click)="onCancel()" #btnCloseModal>Cancelar</button>
                <button type="submit" form="formPassword" class="btn btn-success">Aceptar</button>
            </div>
        </div>
    </div>
</div>