<div class="container-fluid">
    <div class="horizontal-slider clearfix">
        <h2>Buscar</h2>
        <hr />
        <div class="row">

            <div class="col-sm-12">
                <div class="input-group caja-busqueda">
                    <input class="form-control mr-sm-2 margen" type="search" placeholder="" aria-label="Search" #searchTitle>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-success" aria-label="Profile"
                            (click)="onSearchByTitle($event)">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <div class="alineacion-derecha">
                    <a data-toggle="collapse" href="#collapseExample" data-backdrop="static" data-keyboard="false" class="color-font" aria-expanded="false" aria-controls="collapseExample">
                        Búsqueda Avanzada
                    </a>
                </div>
                <br>
                <div class="collapse" id="collapseExample">
                    <h3>Búsqueda Avanzada</h3>
                    <hr>
                    <div class="card card-body">
                        <form id="formBusquedaAvanzada" [formGroup]="formBusquedaAvanzada" (ngSubmit)="onSubmit()">
                            <div class="form-row">
                                <div class="col-md-10 mb-3">
                                    <input type="text" formControlName="titulo" placeholder="Titulo" class="form-control" maxlength="100" [ngClass]="{ 'is-invalid': submitted && fo.titulo.errors }">
                                    <div *ngIf="submitted && fo.titulo.errors" class="invalid-feedback">
                                        <div *ngIf="fo.titulo.errors.pattern">
                                            {{ util.MENSAJE_CAMPO_CARACTERES_INVALIDOS }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 mb-3">
                                    <select class="custom-select" formControlName="cond1">
                                        <option value="A">Y</option>
                                        <option value="O">O</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-10 mb-3">
                                    <input type="text" formControlName="autor" placeholder="Autor" class="form-control" maxlength="100" [ngClass]="{ 'is-invalid': submitted && fo.autor.errors }">
                                    <div *ngIf="submitted && fo.autor.errors" class="invalid-feedback">
                                        <div *ngIf="fo.autor.errors.pattern">
                                            {{ util.MENSAJE_CAMPO_CARACTERES_INVALIDOS }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 mb-3">
                                    <select class="custom-select" formControlName="cond2">
                                        <option value="A">Y</option>
                                        <option value="O">O</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-10 mb-3">
                                    <input type="text" formControlName="palabrasClaves" placeholder="Palabras Claves" class="form-control" maxlength="100" [ngClass]="{ 'is-invalid': submitted && fo.palabrasClaves.errors }">
                                    <div *ngIf="submitted && fo.palabrasClaves.errors" class="invalid-feedback">
                                        <div *ngIf="fo.palabrasClaves.errors.pattern">
                                            {{ util.MENSAJE_CAMPO_SOLO_LETRAS_ESPACIO }} </div>
                                    </div>
                                </div>
                                <div class="col-md-2 mb-3">
                                    <select class="custom-select" formControlName="cond3">
                                        <option value="A">Y</option>
                                        <option value="O">O</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-10 mb-3">
                                    <select class="custom-select" id="ddlTipoRecurso" formControlName="tipoRecurso">
                                        <option value="">Seleccione un Tipo de Recurso</option>
                                        <option *ngFor="let tipoRe of listTipoRecursos" [value]="tipoRe.codigo">
                                            {{ tipoRe.nombre }}</option>
                                    </select> </div>
                                <div class="col-md-2 mb-3">
                                    <select class="custom-select" formControlName="cond4">
                                        <option value="A">Y</option>
                                        <option value="O">O</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-10 mb-3">
                                    <select class="custom-select" id="ddlAreaConocimiento" formControlName="areaConocimiento">
                                        <option value="">Seleccione una Facultad</option>
                                        <option *ngFor="let areaCo of listAreasConocimiento" [value]="areaCo.codigo">
                                            {{ areaCo.nombre }}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-2 mb-3">
                                    <select class="custom-select" formControlName="cond5">
                                        <option value="A">Y</option>
                                        <option value="O">O</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-10 mb-3">
                                    <select class="custom-select" id="ddlSede" formControlName="sede">
                                        <option value="">Seleccione una Sede</option>
                                        <option *ngFor="let sede of listSedes" [value]="sede.codigo">{{ sede.nombre }}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-2 mb-3">
                                    <select class="custom-select" formControlName="cond6">
                                        <option value="A">Y</option>
                                        <option value="O">O</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="onCancel()" data-dismiss="modal" #btnCloseModal>Cancelar</button>
                        <button type="submit" form="formBusquedaAvanzada" class="btn btn-success">Filtrar</button>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="list-group" *ngIf="loginService.isAuthenticate()">
                    <button type="button" class="list-group-item headerMenu">
                        Recurso
                    </button>
                    <a href="#" data-toggle="modal" data-target="#modalResource" (click)="onNewResource()" data-backdrop="static" data-keyboard="false" class="list-group-item list-group-item-action">Crear Nuevo Recurso</a>
                </div>
                <hr>
                <div class="list-group">
                    <button type="button" class="list-group-item headerMenu">
                        Facultades
                    </button>
                    <a class="list-group-item list-group-item-action" [routerLink]="['/discover', { id: areCon.codigo, search:false}]" *ngFor="let areCon of listAreasConocimiento">{{ areCon.nombre }}</a>
                </div>
                <div class="dropdown-divider"></div>
                <div class="list-group">
                    <button type="button" class="list-group-item headerMenu">
                        Tipos de recurso
                    </button>
                    <a class="list-group-item list-group-item-action" [routerLink]="['/discover', { id: tir.codigo, search:false}]" *ngFor="let tir of listTipoRecursos">{{ tir.nombre }}</a>
                </div>
            </div>
            <div class="col-xs-9 col-sm-9 col-md-9">
                <!--<div class="pagination-masked clearfix top" *ngIf="listResources.length != 0">{{ listResources.length}} resultados encontrados</div>
                <br> -->
                <hr>
                <div>
                    <div *ngIf="listResources.length === 0">
                        No se han encontrado resultados.
                    </div>
                    <div class="row artifact" *ngFor="let resource of listResources | paginate: { itemsPerPage: 6, currentPage: pageNumber, totalItems: total } ">
                        <div class="col-sm-3">
                            <div class="thumbail artifact-preview">
                                <a [routerLink]="['/recurso/', {id: resource.codigo, search:false}]" class="image-link">
                                    <img class="img-responsive img-thumbnail" alt="thumbnail" src="/assets/images/pdf.png">
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <a [routerLink]="['/recurso/', {id: resource.codigo, search:false}]">
                                <h5>{{ resource.title }}</h5>
                            </a>
                            <div class="artifact-info">
                                <span class="author">
                                    <small>{{ resource.creator }}</small>
                                </span>
                                <div class="description"> {{ resource.abstract }} </div>
                            </div>
                            <br>
                        </div>
                    </div>
                    <br>

                    <footer>
                        <pagination-controls (pageChange)="pageNumber = $event" maxSize="9" directionLinks="true" autoHide="true" responsive="true" previousLabel="Anterior" nextLabel="Siguiente" class="pagination-color text-center">
                        </pagination-controls>
                    </footer>

                </div>
            </div>
        </div>
        <br>
        <div class="col-xs-12 col-sm-12 col-md-9 main-content">

        </div>
    </div>

    <!--Modal-->
    <div class="modal fade" id="modalResource" tabindex="-1" role="dialog" aria-label="modalResourceLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header fondo-letra-poli">
                    <h5 class="modal-title" id="modalResourceLabel">{{ tituloModal }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body tamano-modal">
                    <form id="formResource" name="formResource" [formGroup]="formResource" (ngSubmit)="onSubmit()">
                        <small id="requiredHelp" class="form-text text-muted">
                            *Campos obligatorios.
                        </small>
                        <br>
                        <div class="col-sm-12">
                            <div class="form-group row">
                                <label for="title">Título*</label>
                                <input type="text" class="form-control" id="txtTitle" placeholder="Título del recurso." maxlength="512" autocomplete="off" formControlName="title" [ngClass]="{'is-invalid':submitted && fo.title.errors }">
                                <div *ngIf="submitted && fo.title.errors" class="invalid-feedback">
                                    <div *ngIf="fo.title.errors.required">{{ util.MENSAJE_CAMPO_OBLIGATORIO }}</div>
                                    <div *ngIf="fo.title.errors.pattern"> {{ util.MENSAJE_CAMPO_CARACTERES_INVALIDOS }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group row">
                                <label for="alternative">Título alternativo</label>
                                <input type="text" class="form-control" id="txtAlternative" placeholder="Título." maxlength="512" autocomplete="off" formControlName="alternative" [ngClass]="{'is-invalid':submitted && fo.alternative.errors }">
                                <small id="alternativeHelp" class="form-text text-muted">
                                    Ejemplo: título alterno, porción del título principal o título en segundo idioma.
                                </small>
                                <div *ngIf="submitted && fo.alternative.errors" class="invalid-feedback">
                                    <div *ngIf="fo.alternative.errors.pattern">
                                        {{ util.MENSAJE_CAMPO_CARACTERES_INVALIDOS }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group row">
                                <label for="creator">Autor/a*</label>
                                <input type="text" class="form-control" id="txtCreator" placeholder="Autor o autores del recurso. (Separados por coma)." maxlength="100" autocomplete="off" formControlName="creator" [ngClass]="{'is-invalid':submitted && fo.creator.errors }">
                                <div *ngIf="submitted && fo.creator.errors" class="invalid-feedback">
                                    <div *ngIf="fo.creator.errors.required">{{ util.MENSAJE_CAMPO_OBLIGATORIO }}</div>
                                    <div *ngIf="fo.creator.errors.pattern">{{ util.MENSAJE_CAMPO_CARACTERES_INVALIDOS }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group row">
                                <label for="advice">Asesor/a</label>
                                <input type="text" class="form-control" id="txtAdvice" placeholder="Asesor/a." maxlength="100" autocomplete="off" formControlName="advice" [ngClass]="{'is-invalid':submitted && fo.advice.errors }">
                                <div *ngIf="submitted && fo.advice.errors" class="invalid-feedback">
                                    <div *ngIf="fo.advice.errors.pattern">{{ util.MENSAJE_CAMPO_CARACTERES_INVALIDOS }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group row">
                                <label for="abstract">Descripción o resumen*</label>
                                <textarea class="form-control" id="txtAbstract" rows="6" maxlength="2000" placeholder="Descripción o resumen del recurso." autocomplete="off" formControlName="abstract" [ngClass]="{'is-invalid':submitted && fo.abstract.errors }"></textarea>
                                <div *ngIf="submitted && fo.abstract.errors" class="invalid-feedback">
                                    <div *ngIf="fo.abstract.errors.required">{{ util.MENSAJE_CAMPO_OBLIGATORIO }}</div>
                                    <div *ngIf="fo.abstract.errors.pattern">
                                        {{ util.MENSAJE_CAMPO_CARACTERES_INVALIDOS }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group row">
                                <label for="subject">Palabras Clave*</label>
                                <textarea class="form-control" id="txtSubject" rows="2" maxlength="512" placeholder="Palabras clave. (Separadas por coma)." autocomplete="off" formControlName="subject" [ngClass]="{'is-invalid':submitted && fo.subject.errors }"></textarea>
                                <div *ngIf="submitted && fo.subject.errors" class="invalid-feedback">
                                    <div *ngIf="fo.subject.errors.required">{{ util.MENSAJE_CAMPO_OBLIGATORIO }}</div>
                                    <div *ngIf="fo.subject.errors.pattern">{{ util.MENSAJE_CAMPO_CARACTERES_INVALIDOS }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="publisher">Editor</label>
                                <input type="text" class="form-control" id="txtPublisher" placeholder="Entidad responsable de la publicación del recurso." maxlength="200" autocomplete="on" formControlName="publisher" [ngClass]="{'is-invalid':submitted && fo.publisher.errors }">
                                <div *ngIf="submitted && fo.publisher.errors" class="invalid-feedback">
                                    <div *ngIf="fo.publisher.errors.pattern">
                                        {{ util.MENSAJE_CAMPO_CARACTERES_INVALIDOS }}</div>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="sedeCodigo">Sede*</label>
                                <select class="custom-select" formControlName="sedeCodigo" [ngClass]="{'is-invalid':submitted && fo.sedeCodigo.errors}">
                                    <option value="">Seleccione Sede</option>
                                    <option *ngFor="let sede of listSedes" [value]="sede.codigo">{{ sede.nombre }}
                                    </option>
                                </select>
                                <div *ngIf="submitted && fo.sedeCodigo.errors" class="invalid-feedback">
                                    <div *ngIf="fo.sedeCodigo.errors.required">{{ util.MENSAJE_CAMPO_OBLIGATORIO }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="department">Facultad*</label>
                                <select class="custom-select" formControlName="arcCodigo" [ngClass]="{'is-invalid':submitted && fo.arcCodigo.errors }">
                                    <option value="">Seleccione Facultad</option>
                                    <option *ngFor="let AreCon of listAreasConocimiento" [value]="AreCon.codigo">
                                        {{ AreCon.nombre }}</option>
                                </select>
                                <div *ngIf="submitted && fo.arcCodigo.errors" class="invalid-feedback">
                                    <div *ngIf="fo.arcCodigo.errors.required">{{ util.MENSAJE_CAMPO_OBLIGATORIO }}</div>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="program">Programa*</label>
                                <select class="custom-select" formControlName="proCodigo" [ngClass]="{'is-invalid':submitted && fo.proCodigo.errors }">
                                    <option value="">Seleccione Programa</option>
                                    <option *ngFor="let ProAca of listProgramasAcademicos" [value]="ProAca.codigo">
                                        {{ ProAca.nombre }}</option>
                                </select>
                                <div *ngIf="submitted && fo.proCodigo.errors" class="invalid-feedback">
                                    <div *ngIf="fo.proCodigo.errors.required">{{ util.MENSAJE_CAMPO_OBLIGATORIO }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label for="dateCreated">Fecha de Elaboración*</label>
                                <input type="date" class="form-control" formControlName="dateCreated" [ngClass]="{'is-invalid':submitted && fo.dateCreated.errors }">
                                <div *ngIf="submitted && fo.dateCreated.errors" class="invalid-feedback">
                                    <div *ngIf="fo.dateCreated.errors.required">{{ util.MENSAJE_CAMPO_OBLIGATORIO }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="year">Año</label>
                                <input type="text" class="form-control" formControlName="year" maxlength="4" placeholder="Año de publicación." autocomplete="off" [ngClass]="{'is-invalid':submitted && fo.year.errors }">
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="spatial">Ciudad</label>
                                <input type="text" class="form-control" formControlName="spatial" maxlength="100" placeholder="Ciudad de publicación." autocomplete="off" [ngClass]="{'is-invalid':submitted && fo.spatial.errors }">
                                <div *ngIf="submitted && fo.spatial.errors" class="invalid-feedback">
                                    <div *ngIf="fo.spatial.errors.pattern">{{ util.MENSAJE_CAMPO_CARACTERES_INVALIDOS }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="extend">Extensión/Duración</label>
                                <input type="text" class="form-control" id="txtExtend" placeholder="Extension o duración del recurso." maxlength="20" autocomplete="off" formControlName="extend" [ngClass]="{'is-invalid':submitted && fo.extend.errors }">

                            </div>
                            <div class="form-group col-sm-6">
                                <label for="medium">Descripción física</label>
                                <input type="text" class="form-control" id="txtMedium" placeholder="Descripción física del recurso." maxlength="100" autocomplete="off" formControlName="medium" [ngClass]="{'is-invalid':submitted && fo.medium.errors }">
                                <small id="requiredHelp" class="form-text text-muted">
                                    Descripción o manifestación física del recurso.
                                </small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label for="tirCodigo">Tipo de recurso</label>
                                <select class="custom-select" formControlName="tirCodigo" [ngClass]="{'is-invalid':submitted && fo.tirCodigo.errors }">
                                    <option value="">Seleccione Tipo de recurso</option>
                                    <option *ngFor="let TiRec of listTipoRecursos" [value]="TiRec.codigo">
                                        {{ TiRec.nombre }}</option>
                                </select>
                                <div *ngIf="submitted && fo.tirCodigo.errors" class="invalid-feedback">
                                    <div *ngIf="fo.tirCodigo.errors.required">{{ util.MENSAJE_CAMPO_OBLIGATORIO }}</div>
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="language">Lenguaje*</label>
                                <select class="custom-select" formControlName="tilCodigo" [ngClass]="{'is-invalid':submitted && fo.tilCodigo.errors }">
                                    <option value="">Seleccione Lenguaje</option>
                                    <option *ngFor="let Lang of listLenguajes" [value]="Lang.codigo">{{ Lang.nombre }}
                                    </option>
                                </select>
                                <div *ngIf="submitted && fo.tilCodigo.errors" class="invalid-feedback">
                                    <div *ngIf="fo.tilCodigo.errors.required">{{ util.MENSAJE_CAMPO_OBLIGATORIO }}</div>
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="identifier">Identificador</label>
                                <input type="text" class="form-control" id="txtIdentifier" placeholder="Identificador del recurso." maxlength="100" autocomplete="off" formControlName="identifier" [ngClass]="{'is-invalid':submitted && fo.identifier.errors }">
                                <small id="identifierHelp" class="form-text text-muted">
                                    Ejemplo: signatura topográfica.
                                </small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="doi">DOI</label>
                                <input type="text" class="form-control" id="txtDOI" placeholder="DOI" maxlength="100" autocomplete="off" formControlName="doi" [ngClass]="{'is-invalid':submitted && fo.doi.errors }">

                            </div>
                            <div class="form-group col-sm-6">
                                <label for="uri">URI</label>
                                <input type="text" class="form-control" id="txtURI" placeholder="Identificador uniforme de recurso." maxlength="100" autocomplete="off" formControlName="uri" [ngClass]="{'is-invalid':submitted && fo.uri.errors }">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="issn">ISSN</label>
                                <input type="text" class="form-control" id="txtISSN" placeholder="ISSN." maxlength="100" autocomplete="off" formControlName="issn" [ngClass]="{'is-invalid':submitted && fo.issn.errors }">

                            </div>
                            <div class="form-group col-sm-6">
                                <label for="isbn">ISBN</label>
                                <input type="text" class="form-control" id="txtISBN" placeholder="ISBN." maxlength="100" autocomplete="off" formControlName="isbn" [ngClass]="{'is-invalid':submitted && fo.isbn.errors }">

                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="licence">Licencia</label>
                                <input type="text" class="form-control" id="txtLicence" placeholder="Licencia." autocomplete="off" maxlength="512" formControlName="licence" [ngClass]="{'is-invalid':submitted && fo.licence.errors }">
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Restringir Descarga</label>
                                <select class="custom-select" formControlName="indDescargaRestringida">
                                    <option value="S">Sí</option>
                                    <option value="N">No</option>
                                </select>
                            </div>
                        </div>
                        <hr>
                        <div class="alineacion-izquierda">
                            <a data-toggle="collapse" href="#collapseOthers" data-backdrop="static" data-keyboard="false" class="color-font" aria-expanded="false" aria-controls="collapseOthers">
                                <span class="badge badge-success">Otros Campos </span> <i class="material-icons">keyboard_arrow_down</i>
                            </a>
                        </div>
                        <br>
                        <div class="collapse" id="collapseOthers">
                            <br>
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    <label for="contributor">Colaborador/a</label>
                                    <input type="text" class="form-control" id="txtContributor" placeholder="Colaborador/a." maxlength="100" autocomplete="off" formControlName="contributor" [ngClass]="{'is-invalid':submitted && fo.contributor.errors }">
                                    <div *ngIf="submitted && fo.contributor.errors" class="invalid-feedback">
                                        <div *ngIf="fo.contributor.errors.pattern">
                                            {{ util.MENSAJE_CAMPO_CARACTERES_INVALIDOS }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label for="source">Fuente</label>
                                    <input type="text" class="form-control" placeholder="Fuente." id="txtSource" maxlength="200" autocomplete="off" formControlName="source" [ngClass]="{'is-invalid':submitted && fo.source.errors }">
                                    <div *ngIf="submitted && fo.source.errors" class="invalid-feedback">
                                        <div *ngIf="fo.source.errors.pattern">
                                            {{ util.MENSAJE_CAMPO_CARACTERES_INVALIDOS }}</div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="relation">Relaciones</label>
                                    <input type="text" class="form-control" placeholder="Relaciones." id="txtRelation" maxlength="200" autocomplete="off" formControlName="relation" [ngClass]="{'is-invalid':submitted && fo.relation.errors }">
                                    <div *ngIf="submitted && fo.relation.errors" class="invalid-feedback">
                                        <div *ngIf="fo.relation.errors.pattern">
                                            {{ util.MENSAJE_CAMPO_CARACTERES_INVALIDOS }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-4">
                                    <label for="dateAccepted">Fecha de aceptación</label>
                                    <input type="date" class="form-control" formControlName="dateAccepted" [ngClass]="{'is-invalid':submitted && fo.dateAccepted.errors }">

                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="dateValid">Fecha de validación</label>
                                    <input type="date" class="form-control" formControlName="dateValid" [ngClass]="{'is-invalid':submitted && fo.dateValid.errors }">
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="dateIssued">Fecha formal de emisión</label>
                                    <input type="date" class="form-control" formControlName="dateIssued" [ngClass]="{'is-invalid':submitted && fo.dateIssued.errors }">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <div class="custom-file">
                                <label class="custom-file-label" for="customFileLang" lang="es" #labelImport>Seleccione
                                    un archivo
                                </label>
                                <input type="file" class="custom-file-input" id="customFileLang" formControlName="archivo" (change)="handleFileInput($event.target.files)" [ngClass]="{'is-invalid':submitted && fo.archivo.errors}" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="onCancel()" data-dismiss="modal" #btnCloseModal>Cancelar</button>
                    <button type="submit" form="formResource" class="btn btn-success">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>
</div>

<ng-template #footerTemplateDatePicker>
    <hr class="my-0">
    <button class="btn btn-secondary btn-sm m-2 float-right" (click)="clearDatePicker()">Limpiar</button>
</ng-template>